---
eleventyComputed:
  meta:
    site:
      name: "{{ site.title }}"
      description: "{{ site.description }}"
      url: "{{ site.url }}"
      logo:
        src: https://example.com/images/logo.png
        width: 1200
        height: 630
    title: "{{ title or site.title }}"
    description: "{{ description or site.description }}"
    image:
      src: "{% if image %}{{ site.url }}{{ image }}{% endif %}"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Grab title from the page data and dump it here -->
		<title>{{ title }}</title>

		<link rel="stylesheet" href="{{ '/assets/11ty-notes/css/pico.min.css' | relative(page) }}" />
		<link rel="stylesheet" href="{{ '/assets/11ty-notes/css/prism-night-owl.css' | relative(page) }}" />

		{% jsonLdScript meta, type, tags %}
	</head>
	<body>
		<main class="container">
		<!-- Grab the content from the page data, dump it here, and mark it as safe -->
		<!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
		{{ content | safe }}
		</main>
	</body>
</html>