---
layout: sparna.njk
bodyClass: page page-id-posts
---
{% if locale == "fr" %}
  <h1>Posts<br>médias sociaux</h1>
{% endif %}

{% if locale == "en" %}
  <h1>Social media <br>posts</h1>
{% endif %}

{% set posts = collections.posts %}
<ol class="postlist">
  {%- for post in posts | reverse -%}
  {# Post is listed either if it is in our language... #}
  {# ... or if is *not* translated in our language #}
  {% set hasUrlInLang = (post.url | locale_links | hasUrlInLang(lang)) %}
  {% if (post.data.lang == lang) or not hasUrlInLang %}
  <li class="postlist__item">
    <img class="postlist__flag" src="/assets/images/{{ post.data.lang | upper }}.png" alt="flag" />
    <h2 class="postlist_title"><a href="{{ post.page.url | locale_url | relative(page) }}">{{post.data.title}}</a></h2>
    <div class="postlist__meta">
      <time class="postlist__date" datetime="{{ post.data.date | dateToISO }}">{{ post.data.date | readableDate('dd LLL yyyy', locale) }}</time>
      {% if post.data.tags %}
        <span aria-label="in category">&middot;</span> <span class="postlist__tags">{{ post.data.tags | join(', ') }}</span>
      {% endif %}
    </div>
    <p class="postlist__excerpt">
      {% if post.data.description %}
          {{ post.data.description }}
      {% else %}
          {{ post.templateContent | excerpt | striptags }}
      {% endif %}
    </p>
  </li>
  {% endif %}
  {% endfor %}
</ol>


