---
layout: sparna.njk
bodyClass: single single-reference
---
<h1>Etude <br />de cas</h1>

<div class="logo"><img width="160" height="130" src="{{image|relative(page)}}" class="attachment-reference_thumb wp-post-image"></div>
<div class="informations">
	{{ content | safe }}
	<a href="{{ '/pages/nos-references' | relative(page) }}" title ="Revenir à la liste des références" class = 'retour'>Revenir à la liste des références</a>
</div>