---
layout: sparna.njk
bodyClass: page page-id-24 page-template-default
---
{% if locale == "fr" %}
  <h1>Nos<br>références</h1>
{% endif %}

{% if locale == "en" %}
  <h1><br>References</h1>
{% endif %}

{% set collectionsLocal = collections.reference | localeFilter(locale) %}
{%- for reference in collectionsLocal | reverse -%}
<div class="reference{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{{" odd" if loop.index % 2 == 1}}{{" even" if loop.index % 2 == 0}}">
  <div class="logo"><img width="160" height="130" src="{{reference.data.image | relative(page)}}" class="attachment-reference_thumb wp-post-image"></div>
  <div class="informations">
    <h2>{{reference.data.title}}</h2>
    {% if reference.data.subtitle %}<h3>{{ reference.data.subtitle }}</h3>{% endif %}
    <p>{{reference.data.abstract}}</p>
    <a href="{{ reference.page.url | relative(page) }}" title="{{reference.data.title}}" class="plus">{{ 'Savoir' | i18n }} +</a>
  </div>
</div>
{% endfor %}
