<!DOCTYPE html>
<html lang="fr-FR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>

	<link rel='stylesheet' id='style-main-css'  href="{{ '/assets/css/style.css' | relative(page) }}" type='text/css' media='all' />
	<link rel='stylesheet'  href="{{ '/assets/css/contact-form.css' | relative(page) }}" type='text/css' media='all' />

	<link rel='stylesheet' id='fonts-css'  href="{{ '/assets/css/fonts/fonts.css' | relative(page) }}" type='text/css' media='all' />

	<script
			  src="https://code.jquery.com/jquery-3.7.1.min.js"
			  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			  crossorigin="anonymous"></script>

	<script type='text/javascript' src="{{ '/assets/js/sparna.js' | relative(page) }}"></script>

	<!-- Jetpack Open Graph Tags -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Sparna" />
	<meta property="og:description" content="Web de données | Architecture de l&#039;informations | Accès aux connaissances" />
	<meta property="og:url" content="http://www.sparna.fr/" />
	<meta property="og:site_name" content="Sparna" />
	<meta property="og:image" content="{{ '/assets/images/logo.png' | relative(page) }}" />
	<meta property="og:locale" content="fr_FR" />
	<meta name="twitter:card" content="summary" />

</head>

<body class="{{bodyClass}}">
	<div class="interieur">
		<header id="header">
			<div id="logo"><a href="{{ '/' | relative(page) }}" title = "Sparna"><img src="{{ '/assets/images/logo.png' | relative(page) }}" alt = "" /></a></div>
			<nav id = "menu">
				<div class="menu-menu-principal-container"><ul id="menu-menu-principal" class="nav-menu"><li id="menu-item-48" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-46 menu-item-48{% if page.url == '/' %} current-menu-item{% endif %}"><a href="{{ '/' | relative(page) }}">Accueil</a></li>
<li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26{% if page.url == '/references/' %} current-menu-item{% endif %}"><a href="{{ '/references' | relative(page) }}">Nos références</a></li>
<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22{% if page.url == '/formations/' %} current-menu-item{% endif %}"><a href="{{ '/formations' | relative(page) }}">Nos formations</a></li>
<li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10{% if page.url == '/qui-suis-je/' %} current-menu-item{% endif %}"><a href="{{ '/qui-suis-je' | relative(page) }}">Qui suis je ?</a></li>
<li id="menu-item-9" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9{% if page.url == '/contact/' %} current-menu-item{% endif %}"><a href="{{ '/contact' | relative(page) }}">Contact</a></li>
<li id="menu-item-50" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="http://blog.sparna.fr">Blog</a></li>
</ul></div>			</nav>
		</header>

		<section id = "contenu">
			{{ content | safe }}
		</section>
		</div>

		<footer id = "footer">
			<div class = "interieur">
				<section class = "colonne">
					<div class="menu-menu-principal-container"><ul id="menu-menu-principal-1" class="nav-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-46 menu-item-48"><a href="/">Accueil</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="{{ '/references' | relative(page) }}">Nos références</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="{{ '/formations' | relative(page) }}">Nos formations</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10"><a href="{{ '/qui-suis-je' | relative(page) }}">Qui suis je ?</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9"><a href="{{ '/contact' | relative(page) }}">Contact</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-50"><a href="http://blog.sparna.fr">Blog</a></li>
</ul></div>				</section>

				<section class = "colonne double">
				</section>

				<section class = "colonne double">
					<h5><a class="rsswidget" href="http://blog.sparna.fr/feed"><img style="border:0" width="14" height="14" src="{{ '/assets/images/rss.png' | relative(page) }} " alt="RSS"></a> <a class="rsswidget" href="http://blog.sparna.fr/">Les derniers articles du blog</a></h5>
					<ul>
					{%- for p in blogPosts -%}
						{% if loop.index0 < 5 %}
							<li><a href="{{ p.link }}">{{ p.title }}</a></li>
						{% endif%}
					{% endfor %}
					</ul>
				</section>
			</div>
		</footer>

	</body>
</html>