body.page-id-posts #header #menu li.current-menu-item a, body #header #menu li#menu-item-posts a:hover {
  color: #aa1223;
  border-bottom-color: #aa1223;
}
body.page-id-posts h1 {
  color: #aa1223;
  margin-bottom: 50px;
  
}

body.page-id-posts #contenu {
  margin-top: 80px;
  padding-bottom: 80px;
  

  width: 90%;
  margin-left: 129px;
  margin-right: auto;
  max-width: 1200px;
}

/* Item in a list of posts */
.postlist__item {
  margin-bottom: 5rem;
}
/* Item title */
.postlist__item h2 {  
  font-size: 2.25rem;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  margin-bottom:0.3rem;
}
/* Item title link */
.postlist__item h2 a {
  color: #e33f51;
  text-decoration: none;
}
.postlist__meta {
  font-style: italic;
  margin-bottom:1rem;
}
.postlist__excerpt {
  font-size: 1.375rem;
}

body.single-post #contenu {
  margin-top: 80px;
  padding-bottom: 80px;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;  
}

body.single-post .post__meta {
  font-size: 18px;
}

body.single-post .post__content {
  font-size: 22px;
}

body.single-post p {
  margin-bottom:22px;
}
body.single-post ul {
  margin-bottom:22px;
  list-style:initial;
  padding:revert;
}
body.single-post li {
  margin-bottom:12px;
}


body.single-post .post__title {
  font-size: 4rem !important;
  letter-spacing: -2px;
}

body.single-post .post__meta {
  margin-top: 15px;
  font-style: italic;
}

body.single-post .post__footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

body.single-post .post__footer-info {
  margin: 1rem 0;
  color: var(--color-text-offset);
  font-style: italic;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  transition: all .2s ease-in-out;
  font-size: .875rem;
  padding: .50rem 1rem;
  border: 2px solid rgba(0,0,0,.2);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-color: rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
}

.btn--linkedin {
  background-color: #E9FFD4;
  text-decoration: none;
  color: #000;
}